<!doctype html>
<html>
  <head>
    <title>Pokédex: {{ aPage.poke_name }}</title>
  </head>
  <body>
    <strong>{{aPage.poke_name}}</strong>
    <strong>   #</strong>{{aPage.poke_id}} <br>
    <p> {{aPage.poke_types}} </p>
  </body>
</html>
